<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs',{title}); %>
</head>
<body>
    <!-- header Start -->
    <header class="header_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center py-3">
                    <img src="./assets/images/logo-white.png" alt="logo">
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- banner area Start -->
    <section class="banner" style="background: url('./assets/images/hero-img.jpg');">
        <div class="row align-items-center h-100 m-0">
            <div class="col-lg-7 p-0">
                <div class="banner_texts">
                    <h1>JOIN 300K+ <b>TRADERS FROM</b>
                        83+ COUNTRIES!</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- banner area end -->
    <!-- main content area start -->
    <section class="main_content">
        <div class="container">
            <div class="row align-items-center mx-0 px-0">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h2>Benefits of Joining 300K+ Traders Community</h2>
                    <p>Learn Latest Market Knowledge Learn More About the Do’s and Don’ts Stay Updated With the New Systems Evaluate How Others Are Performing Get Exposure to New Trade Ideas Master Tips And Tricks To Maximize Your Return Avoid Making Your Own Expensive Mistakes</p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="row mx-0">
                        <div class="col-md-6 col-sm-7 col-6 col-lg-6">
                            <img src="./assets/images/sol-1.png" class="w-100 img-01" alt="solution_problems_one">
                        </div>
                        <div class="col-md-4 col-sm-5 col-6 col-lg-6">
                            <img src="./assets/images/sol-2.png" class="w-100" alt="solution_problems_two
                            ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- main content area end -->

    <!-- subscribe area -->
    <section class="sub_area bg-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="text-white">Stay in Touch</h2>
                    <p class="text-light">Give Your Email To Get Future Updates.</p>
                    <form action="" class="subform">
                        <input type="email" placeholder="Type Your Mail...">
                        <button>Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe area -->










    <%- include('../partials/footer.ejs'); %>
</body>
</html>